<nav class="navbar navbar-light custom-navbar">
  <div style="width: 80px; height: 80px; overflow: hidden; border-radius: 50%; position: relative;">
    <img style="height: 100px; width: 100px; position: absolute;  top: -10px; left: -10px;"
      src="assets/images/spicesavour.svg">
  </div>
  <div class="navbar-content">
    <h1 style="color: rgb(139, 0, 0);">Spice Savor</h1>
    <p class="tagline" style="color: darkslategray;">Spice Up Your Recipe Savor The Results</p>
  </div>
  <div>

    <button type="button" class="btn custom-button1" [routerLink]="['/home/add-recipes']">
      Add Recipe
    </button>
  </div>

  <div>
    <a class="homeicon" style="color: darkred;" (click)="getRecipeData()">
      <i class="bi bi-house-fill"></i>
    </a>
  </div>

  <div>
    <a class="personicon" style="color: darkred;" (click)="receipModal()">
      <i class="bi bi-person-fill"></i>
    </a>
  </div>

  <div style="margin-right: 20px;">
    <form class="d-flex" role="search" (submit)="searchRecipes()">
      <input class="form-control mx-2 custom-input" type="search" placeholder="Search Recipe..." aria-label="Search"
        [(ngModel)]="searchQuery" name="searchQuery">
      <button class="btn btn-success custom-button2" type="submit">Search</button>
    </form>
  </div>


  <div class="logout-container d-flex flex-column align-items-center">
    <i class="bi bi-box-arrow-right logout" (click)="logout()"></i>
    <p class="logout-text">LogOut</p>
  </div>

</nav>

<div class="content-container">
  <div class="card-wrapper">
    <div *ngFor="let data of filteredRecipes" class="card-container">
      <div class="card recipe-card">
        <img [src]="data.image" class="card-img-top" alt="{{data.title}}">
        <div class="card-body">
          <h5 class="card-title placeholder-glow" [title]="data.title">{{data.title | slice:0:35 }}
            <span *ngIf="data.title?.length > 35">...</span>
          </h5>
          <p class="card-text" [title]="data.summary">
            {{ data.summary | slice:0:120 }}
            <span *ngIf="data.summary?.length > 120">...</span>
          </p>
          <!-- <a class="btn btn-primary" (click)="readMore()">Read More</a> -->
          <div class="button-container">
            <button type="button" class="btn custom-button3" (click)="readMore(data._id)">Read More >>></button>
            <button *ngIf="isAdmin()" type="button" class="btn custom-button3" (click)="deleteRecipe(data._id)">
              <i class="bi bi-trash"></i>
            </button>
            <button type="button" class="btn custom-button3" (click)="editRecipe(data._id)">
              <i class="bi bi-pencil"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="spinner">
    <div class="spinner-border"></div>
  </div>